{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Girassol|Roboto+Slab|Rubik&display=swap" rel="stylesheet">
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <title>Poveglia </title>

      	  {# Cargamos la librería #}
      	  {% load bootstrap4 %}

      	  {# CSS Bootstrap #}
      	  {% bootstrap_css %}

          {% bootstrap_javascript jquery='full' %}
    </head>

    <body>
      <div id="fondo-superior"></div>
      <div id="fondo-inferior"></div>
      <div class="text-center mt-100">


        <div id="menu">
          <div class="menu-item l-50"><h2><a href="/bio" style="color:#3CB371">Bio</a></h2>
        </div>
        <div class="menu-item r-50"><h2><a href="/vids" style="color:#3CB371">Vids</a></h2>
        </div>
          <a href="/"><img id="logo" src="{% static 'images/logo.png' %}"></a>
        </div>

        <div id="menu-mobile">
          <a href="bio"><img class="bio-link" src="{% static 'images/bio.png' %}"></a><br/>
          <a href="vids"><img class="vids-link" src="{% static 'images/vids.png' %}"></a>
        </div>
      </div>

      <div id="contenido">
        {% block content %}
        {% endblock %}
      </div>

    </body>
</html>
