{% extends 'base.html' %}

{% block content %}

<h1>News<h2>

  {% if latest_news_list %}
      <div>
      {% for new in latest_news_list %}
        <div class="new" style="display:block; margin:10%;">
          <div class="new-text" style="display:block; width:80%; float:left;">
            {{ new.text }}
          </div>
          <div style="display:block; width:20%; float:left;">
            <img class="new-image" src="static/images/peart.jpeg">
          </div>
        </div>
      {% endfor %}
      </div>

  {% else %}
      <p>No news are available.</p>
  {% endif %}


{% endblock %}
