{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

        <title>Links</title>

      	  {# Cargamos la librería #}
      	  {% load bootstrap4 %}

      	  {# CSS Bootstrap #}
      	  {% bootstrap_css %}

          {% bootstrap_javascript jquery='full' %}
    </head>

    <body>
      <h1>Links<h2>

        <div id="contenido"><a href="https://open.spotify.com/artist/67jSKbH5dk2PkmT1QwPyqt?si=5MUcTIbDT2aHRnIVLBxd9Q">https://open.spotify.com/artist/67jSKbH5dk2PkmT1QwPyqt?si=5MUcTIbDT2aHRnIVLBxd9Q</a>
                            <a href="https://www.youtube.com/channel/UCcke36MKx_nKm_cjQ7whrEA">https://www.youtube.com/channel/UCcke36MKx_nKm_cjQ7whrEA</a>
                            <a href="https://poveglia1.bandcamp.com">https://poveglia1.bandcamp.com</a></div>

      <img id="fondo-superior" src="static/images/superior.png">
      <img id="fondo-inferior" src="static/images/inferior.png">
    </body>
</html>
