{% extends 'base.html' %}

{% block content %}

<h1>Links<h2>

  <div class="white-text"><a href="https://open.spotify.com/artist/67jSKbH5dk2PkmT1QwPyqt?si=5MUcTIbDT2aHRnIVLBxd9Q">https://open.spotify.com/artist/67jSKbH5dk2PkmT1QwPyqt?si=5MUcTIbDT2aHRnIVLBxd9Q</a>
                      <a href="https://www.youtube.com/channel/UCcke36MKx_nKm_cjQ7whrEA">https://www.youtube.com/channel/UCcke36MKx_nKm_cjQ7whrEA</a>
                      <a href="https://poveglia1.bandcamp.com">https://poveglia1.bandcamp.com</a></div>

{% endblock %}
